.DS_Store

app/cache/*
!app/cache/index.html

app/logs/*
!app/logs/index.html

!app/*/.htaccess
.htaccess

composer.lock
composer.json

.env 

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# Inclusões manuais
app/Config/Database.php
public/soft-ui-dashboard-main/ 
public/assets/exames/*
writable/*
