.DS_Store

app/cache/*
!app/cache/index.html

app/logs/*
!app/logs/index.html

!app/*/.htaccess


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# Inclusões manuais
public/soft-ui-dashboard-main/ 
public/assets/exames/*
writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*
writable/debugbar/**.log
