*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.row{

    position: relative;
}

div.secaoBusca{

    margin-top: 50px;
}

div.busca{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #3E3E3E;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: end;
}

div.busca > div.campo{

    display: flex;
    flex-flow: column;
    width: 25%;
}

div.busca > div.campo > label{

    color: white;
    font-style: italic;
    letter-spacing: 3px;
    font-weight: normal;
    padding-top: 10px;
}

div.busca > div.campo > input{

    border: none;
    border-radius: 20px;
    padding: 10px;
    
}

div.busca > button{

    padding: 10px 0px;
    border: none;
    border-radius: 20px;
    width: 20%;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right,#0EAEA0, #57BFCF );
}

div.busca > button:hover{

    background:linear-gradient(to right, #EF740A, #F7A80E) ;
}

div.row > div.resultadoBusca{

    display: none;
    flex-flow: row wrap;
    width: 98%;
    justify-content: space-evenly;
    gap: 10px;
    position: absolute !important;
    top: 52%;
    left: 1%;
    z-index: 99;
    padding: 20px;
    padding-top: 70px;

    background: rgba(55, 183, 186, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(55, 183, 186, 0.45);
}

div.resultadoBusca i{

    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2em;
}

div.resultadoBusca p#semResultado{

    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

div.resultadoBusca div.item{

    width: 20%;
    display: grid;
    grid-template-columns: 1fr 3px .5fr;
    grid-template-rows: 25px 75px;
    gap: 10px;
    padding: 15px 10px 5px 10px;
    border-left: 5px solid #57BFCF;
    transition: border-left ease 0.2s;
    display: none;
    border-radius: 16px;
}

div.resultadoBusca div.item:hover{

    border-left: 15px solid #57BFCF;
}

div.resultadoBusca div.item div.campoNome{

    grid-area: 1 / 1 / 2 / 2;

}

div.resultadoBusca div.item div.campoNome p{

    font-weight: bold;

}

div.resultadoBusca div.item div.campoAtendimentoNum{

    grid-area: 1 / 3 / 2 / 3;

}

div.resultadoBusca div.item div.campoAtendimentoNum p{

    color: gray;

}

div.resultadoBusca div.item div.compoSetor{

    grid-area: 2 / 1 / 3 / 2;

}

div.resultadoBusca div.item div.compoSetor p{

    color: #344767;
    font-weight: 600;

}

div.resultadoBusca div.item div.campoLeito{

    grid-area: 2 / 3 / 3 / 3;

}

div.resultadoBusca div.item div.campoLeito p{

    font-weight: 600;

}

div.resultadoBusca div.item hr{

    grid-area: 1 / 2 / 3 / 2;
    width: 1px;
    height: 95%;
    margin: 0;
    padding: 0;

}

@media screen and (max-width:600px) {

    div.secaoBusca{

        margin-top: 10px;
    }

    div.row > div.resultadoBusca{

        top: 380px;
    }
    
    div.busca{

        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 5px 20px 10px 20px;
        margin: 0;
        gap: 5px;
    }

    div.busca > div.campo{

        display: flex;
        flex-flow: column;
        width: 100%;
    }

    div.busca > div.campo > label{

        padding-bottom: 0px;
        margin-bottom: 0;
    }
    
    div.busca > div.campo > input{

        border: none;
        border-radius: 20px;
        padding: 7px 10px;
        
    }
    
    div.busca > button{

        padding: 7px 0px;
        margin-top: 5px;
        width: 50%;
    }

    div.resultadoBusca div.item{

        width: 100%;
    }

}

@media screen and (min-width:601px) and (max-width:768px) {

    div.secaoBusca{

        margin-top: 20px;
    }

    div.row > div.resultadoBusca{

        top: 330px;
    }
    
    div.busca{

        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: center;
        margin: 0;
    }

    div.busca > div.campo{

        display: flex;
        flex-flow: column;
        width: 40%;
    }

    
    div.busca > button{

        width: 40%;
    }

    div.resultadoBusca {

        flex-flow: row wrap;
    }

    div.resultadoBusca div.item{

        width: 45%;
    }

}

@media screen and (min-width:769px) and (max-width:900px) {

    div.secaoBusca{

        margin-top: 20px;
    }

    div.row > div.resultadoBusca{

        top: 330px;
    }
    
    div.busca{

        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: center;
        margin: 0;
        padding: 5px 20px 10px 20px;
    }

    div.busca > div.campo{

        display: flex;
        flex-flow: column;
        width: 40%;
    }

    
    div.busca > button{

        width: 40%;
    }

    div.resultadoBusca {

        flex-flow: row wrap;
    }

    div.resultadoBusca div.item{

        width: 45%;
    }

}

@media screen and (min-width:901px) and (max-width:1000px) {

    div.secaoBusca{

        margin-top: 20px;
    }

    div.row > div.resultadoBusca{

        top: 320px;
    }
    
    div.busca{

        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: center;
        margin: 0;
        
    }

    div.busca > div.campo{

        display: flex;
        flex-flow: column;
        width: 40%;
    }

    
    div.busca > button{

        width: 40%;
    }

    div.resultadoBusca {

        flex-flow: row wrap;
    }

    div.resultadoBusca div.item{

        width: 30%;
    }

}

@media screen and (min-width:1001px) and (max-width:1365px) {

    div.secaoBusca{

        margin-top: 20px;
    }

    div.row > div.resultadoBusca{

        top: 220px;
    }
    
    div.busca{

        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: start;
        margin: 0;
        
    }

    div.busca > div.campo{

        display: flex;
        flex-flow: column;
        width: 25%;
    }

    
    div.busca > button{

        width: 18%;
    }

    div.resultadoBusca {

        flex-flow: row wrap;
    }

    div.resultadoBusca div.item{

        width: 30%;
    }

}

@media screen and (min-width:1366px) and (max-width:1680px) {

    div.secaoBusca{

        margin-top: 20px;
    }

    div.row > div.resultadoBusca{

        top: 220px;
    }
    
    div.busca{

        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: start;
        margin: 0;
        
    }

    div.busca > div.campo{

        display: flex;
        flex-flow: column;
        width: 25%;
    }

    
    div.busca > button{

        width: 18%;
    }

    div.resultadoBusca {

        flex-flow: row wrap;
    }

    div.resultadoBusca div.item{

        width: 30%;
    }

}

@media screen and (min-width:1681px) and (max-width:1920px) {

    div.row > div.secaoBusca{

        margin-top: 20px;
    }

    div.row > div.resultadoBusca{

        top: 220px;
       
    }
    
    div.busca{

        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: start;
        margin: 0;
    }

    div.busca > div.campo{

        display: flex;
        flex-flow: column;
        width: 25%;
    }

    
    div.busca > button{

        width: 18%;
    }

    div.resultadoBusca {

        flex-flow: row wrap;
    }

    div.resultadoBusca div.item{

        width: 20%;
    }

}
